[submodule "IEngine_Robotics"]
	path = IEngine_Robotics
	url = ../IEngine_Robotics.git
[submodule "IRCamera_OpenCV__QtWidget"]
	path = IRCamera_OpenCV__QtWidget
	url = ../IRCamera_OpenCV__QtWidget.git
[submodule "Robot_SourceCode_-ESP32-"]
	path = Robot_SourceCode_-ESP32-
	url = ../Robot_SourceCode_-ESP32-.git
[submodule "VideoCameras_PiplineStream"]
	path = VideoCameras_PiplineStream
	url = ../VideoCameras_PiplineStream.git
[submodule "Robot-Remote_Control"]
	path = Robot-Remote_Control
	url = ../Robot-Remote_Control.git
